body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.principal-section, .second-section{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;

border: 2px solid black;
}

.principal-section{
   
    background: linear-gradient(to right bottom, #07eb93, hsl(0, 2%, 10%));

}
.second-section{
    background-color: beige;

}

.principal-section h1{

    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: 1000;

}
.principal-section p{
    margin: 30px;
    color: white;
    font-weight: 600;
}
.principal-section div p{
    line-height: 2;
    color: white
    font-weight: 600;
    
}

.leng-programming{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

.principal-section ul{
    margin-top: 60px;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 25px;
    margin-right: 400px;
    color: white;
    

}

.second-section{
    background-image: url(https://img.freepik.com/vector-premium/fondo-espacio-trabajo-oficina-cafe-tableta-cuadernos-papel_259139-73.jpg?w=740);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section img {
    margin-top: 70px ;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    object-fit: cover;
}

.second-section p{
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
}

